<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: 헤드"></head>
  <body class="g-sidenav-show bg-gray-200">
    <aside th:replace="fragments/aside :: 어사이드"></aside>
    <!-- 메인 컨텐트 시작 -->
    <main class="main-content mt-0">
      <section>
        <div class="page-header min-vh-100">
          <div class="container">
            <!-- 게시글 조회내용 -->
            <div class="row">
              <div class="col-md-10 ms-auto me-auto">
                <div class="card card-plain">
                  <div class="card-body bg-white">
                    <table class="table table-condensed">
                      <tr>
                        <th>번호</th>
                        <td th:text="${board.bno}"></td>
                        <th>작성일</th>
                        <td th:text="${#temporals.format(board.regdate, 'yyyy-MM-dd a hh:mm:ss')}"></td>
                      </tr>
                      <tr>
                        <th>작성자</th>
                        <td th:text="${board.writer}"></td>
                        <th>수정일</th>
                        <td th:text="${#temporals.format(board.updateDate, 'yyyy-MM-dd a hh:mm:ss')}"></td>
                      </tr>
                      <tr>
                        <th>제목</th>
                        <td colspan="3" th:text="${board.title}"></td>
                      </tr>
                      <tr>
                        <th>내용</th>
                        <td colspan="3" th:text="${board.content}"></td>
                      </tr>
                    </table>
                  </div>
                  <div class="card-footer bg-white text-center pt-0 px-lg-2 px-1">
                    <a th:href="@{/board/list} + '?pageNum=__${cri.pageNum}__'" class="btn btn-success page">목록</a>
                    <a th:href="@{/board/modify(bno=${board.bno})} + '&pageNum=__${cri.pageNum}__'" class="btn btn-secondary page">수정</a>
                    <button onclick="deleteConfirm();" class="btn btn-danger">삭제</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- 댓글 달기 폼-->
            <div class="row mt-2">
              <div class="col-md-10 me-auto ms-auto">
                <div class="card card-body">
                  <div class="row">
                    <div class="col-3">
                      <div class="input-group input-group-outline mb-3">
                        <label class="form-label">글쓴이</label>
                        <input type="text" class="form-control" id="writer" required />
                      </div>
                      <div class="text-center">
                        <button id="reply-btn" class="btn bg-gradient-primary w-100 mb-0">댓글달기</button>
                      </div>
                    </div>
                    <div class="col-9">
                      <div class="input-group input-group-outline mb-0">
                        <div class="input-group input-group-dynamic">
                          <textarea id="content" class="form-control" rows="4" placeholder="댓글 내용을 적어주세요." required></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 댓글 리스트(없음) -->
            <div class="row mt-2">
              <div class="col-md-10 me-auto ms-auto">
                <div class="card card-plain">
                  <ul class="list-group" id="reply-list"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- 오른쪽 숨김창 , JS 링크들 -->
    <hidden th:replace="fragments/hidden :: 숨김창"></hidden>
    <jslink th:replace="fragments/jslink :: 링크"></jslink>
    <script>
      function deleteConfirm() {
        if (confirm('정말로 삭제할까요?')) {
          location.href = '/board/delete?bno=' + '[[${board.bno}]]';
        }
      }

      /* a태그들에 키워드를 추가해서 자바스크립트로 요청한다. */
      const links = document.querySelectorAll('a.page');
      links.forEach(function (link) {
        // 각각의 a태그를 클릭했을때 => 함수실행
        link.addEventListener('click', function (e) {
          e.preventDefault(); //a태그의 이동 요청이 취소됨
          let keyword = '[[${cri.keyword}]]';
          let type = '[[${cri.type}]]';
          if (keyword.trim()) {
            keyword = '&keyword=' + keyword;
            type = '&type=' + type;
          }
          location.href = this.getAttribute('href') + keyword + type; // 클릭한 a태그의 주소에 + 키워드로 요청함
        });
      });

      /* 댓글 버튼 클릭시 이벤트 */
      const replyButton = document.getElementById('reply-btn');
      replyButton.addEventListener('click', function () {
        console.log('클릭했음');
      });
    </script>
  </body>
</html>
