<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head-admin"> </head>

  <body>
    <nav th:replace="/fragments/nav :: nav-admin"></nav>

    <main role="main" class="container">
      <div class="display-2">상품 수정</div>
      <a th:href="@{/admin/products}" class="btn btn-primary my-3">돌아가기</a>

      <form method="post" enctype="multipart/form-data" th:object="${product}" th:action="@{/admin/products/edit}">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">에러 발생</div>
        <div th:if="${message}" th:class="${'alert ' + alertClass}" th:text="${message}"></div>
        <!-- 수정을 위한 id 히든으로 입력됨 -->
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
          <label for="">이 름</label>
          <input type="text" class="form-control" th:field="*{name}" placeholder="이름" />
          <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="form-group">
          <label for="">제품설명</label>
          <textarea class="form-control" th:field="*{description}" placeholder="제품설명"></textarea>
          <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <div class="form-group">
          <label for="">이미지</label>
          <input type="file" class="form-control" th:id="file" th:name="file" />
          <!-- 미리 올릴 이미지를 표시 -->
          <img src="#" id="imgPreview" />
          <br /><br />
          <label for="">현재 이미지</label>
          <img th:src="@{'/media/' + ${product.image}}" style="width: 200px" />
        </div>

        <div class="form-group">
          <label for="">가 격</label>
          <input type="text" class="form-control" th:field="*{price}" placeholder="가격(원)" />
          <span class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>

        <div class="form-group">
          <label for="">카테고리</label>
          <select th:field="*{categoryId}" class="form-control">
            <option value="0">카테고리 선택</option>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
          </select>
          <span class="error" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></span>
        </div>

        <button type="submit" class="btn btn-danger">수 정</button>
      </form>
    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>
    <script>
      $(function () {
        $('#imgPreview').hide(); //처음에 숨김
        $('#file').change(function () {
          //파일이 바뀔때(새로 올림 또는 교체)=> 이벤트
          readURL(this); // readURL 함수 실행
        });
      });

      function readURL(input) {
        // 파일(이미지) 있을 경우에 실행
        if (input.files && input.files[0]) {
          let reader = new FileReader(); // 파일리더 객체 생성

          reader.readAsDataURL(input.files[0]); // 파일리더로 첫번째 파일 경로 읽기

          // 파일리더가 주소를 다 읽으면 onload 이벤트 발생하고 이때 화면에 사진을 표시한다.
          reader.onload = function (e) {
            $('#imgPreview').attr('src', e.target.result).width(200).show();
          };
        }
      }
    </script>
  </body>
</html>
