<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head-admin"> </head>

  <body>
    <nav th:replace="/fragments/nav :: nav-admin"></nav>

    <main role="main" class="container">
      <div class="display-2">Products</div>
      <a th:href="@{/admin/products/add}" class="btn btn-primary my-3">추가하기</a>
      <div th:if="${message}" th:class="${'alert ' + alertClass}" th:text="${message}"></div>

      <div th:if="${!products.empty}">
        <table class="table" id="products">
          <tr>
            <th>상품명</th>
            <th>이미지</th>
            <th>카테고리</th>
            <th>가 격</th>
            <th>수 정</th>
            <th>삭 제</th>
          </tr>
          <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td>
              <img th:src="@{'/media/'+${product.image}}" style="height: 2em" />
            </td>
            <td th:text="${cateIdAndName[__${product.categoryId}__]}"></td>
            <td th:text="${product.price}+' 원'"></td>
            <td><a th:href="@{'/admin/products/edit/' + ${product.id}}">수정</a></td>
            <td><a class="deleteConfirm" th:href="@{'/admin/products/delete/' + ${product.id}}">삭제</a></td>
          </tr>
        </table>
        <!-- 부트스트랩 페이지네이션 -->
        <nav class="mt-3" th:if="${count > perPage}">
          <ul class="pagination">
            <li class="page-item" th:if="${page > 0}">
              <a th:href="@{/admin/products/} + '?page=__${page-1}__'" class="page-link">이전</a>
            </li>
            <li class="page-item" th:classappend="${page==number} ? 'active' : ''" th:each="number : ${#numbers.sequence(0, pageCount-1)}">
              <a th:href="@{/admin/products/} + '?page=__${number}__'" class="page-link" th:text="${number+1}"></a>
            </li>
            <li class="page-item" th:if="${page < pageCount-1}">
              <a th:href="@{/admin/products/} + '?page=__${page+1}__'" class="page-link">다음</a>
            </li>
          </ul>
        </nav>
      </div>
      <div th:if="${products.empty}">
        <div class="display-4">현재 상품이 없습니다.</div>
      </div>
    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
