<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head-front"> </head>

  <body>
    <nav th:replace="/fragments/nav :: nav-front"></nav>

    <main role="main" class="container-fluid mt-5">
      <div class="row">
        <div th:replace="/fragments/categories :: categories"></div>
        <div class="col"></div>
        <div class="col-8">
          <!-- 카테고리이름이 있으면 쓰고 없으면 모든제품 -->
          <h2 class="display-3 mb-5" th:text="${categoryName} ?: '모든제품'"></h2>

          <div class="row">
            <div class="col-4" th:each="product : ${products}">
              <p>
                <img style="width: 200px" th:src="@{'/media/' + ${product.image}}" />
              </p>
              <h4 th:text="${product.name}"></h4>
              <div class="desc" th:utext="${product.description}"></div>
              <p th:text="${product.price} + '원'"></p>

              <div style="position: relative">
                <p>
                  <a class="btn btn-primary addToCart" th:attr="data-id=${product.id}" th:href="@{'/cart/add/' + ${product.id}}">장바구니 추가</a>
                </p>
                <div class="btn btn-sm btn-success hide productAdded">추가됨!</div>
              </div>
            </div>
          </div>
          <!-- 부트스트랩 페이지네이션 -->
          <nav class="mt-3" th:if="${count > perPage}">
            <ul class="pagination">
              <li class="page-item" th:if="${page > 0}">
                <!-- ${#httpServletRequest.requestURI} 는 현재 페이지 주소  -->
                <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${page-1}__'" class="page-link">이전</a>
              </li>
              <li class="page-item" th:classappend="${page==number} ? 'active' : ''" th:each="number : ${#numbers.sequence(0, pageCount-1)}">
                <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${number}__'" class="page-link" th:text="${number+1}"></a>
              </li>
              <li class="page-item" th:if="${page < pageCount-1}">
                <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${page+1}__'" class="page-link">다음</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>
    <script>
      //추가하기 버튼을 눌렀을때 이벤트
      $('a.addToCart').click(function (e) {
        e.preventDefault(); //원래 a태그의 기능인 주소이동을 멈춤
        //alert('장바구니 누룸');
        let $this = $(this); //제이쿼리 변수 $변수명 클릭한 장바구니 버튼

        let id = $this.attr('data-id'); //제품 id값
        let url = '/cart/add/' + id;

        //AJAX GET 주소는 url, 보내는 데이터{}없음, 결과 데이터 data
        $.get(url, {}, function (data) {
          //console.log(data);
          $('div.cart').html(data); //장바구니 화면을 덮어쓰기
        }).done(function () {
          $this.parent().parent().find('div.productAdded').fadeIn(); // 보여짐(특수효과)
          setTimeout(function () {
            $this.parent().parent().find('div.productAdded').fadeOut(); //사라짐
          }, 1000);
        });
      });
    </script>
  </body>
</html>
