<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head-front"> </head>

  <body>
    <nav th:replace="/fragments/nav :: nav-front"></nav>

    <main role="main" class="container-fluid mt-5">
      <div class="row">
        <div th:replace="/fragments/categories :: categories"></div>
        <div class="col"></div>
        <div class="col-8">
          <!-- 카테고리이름이 있으면 쓰고 없으면 모든제품 -->
          <h2 class="display-3 mb-5" th:text="${categoryName} ?: '모든제품'"></h2>

          <div class="row">
            <div class="col-4" th:each="product : ${products}">
              <p>
                <img style="width: 200px" th:src="@{'/media/' + ${product.image}}" />
              </p>
              <h4 th:text="${product.name}"></h4>
              <div class="desc" th:utext="${product.description}"></div>
              <p th:text="${product.price} + '원'"></p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
