<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 자바소스의 BoardMapper의 경로 적용 -->
<mapper namespace="com.myapp.bbs.dao.BoardMapper">

	<!-- 게시판 등록 -->
	<select id="enroll" resultType="BoardVO">
	
		insert into board(title, content, writer) 
		values (#{title}, #{content}, #{writer})
		
	</select>
	
	<!-- 게시판 목록 -->
	<select id="getList" resultType="BoardVO">
	
		select * from board
	
	</select>
	
    <!-- 게시물 목록(페이징) : skip, amount는 Criteria 객체에서 입력됨 -->
    <select id="getListPaging" resultType="BoardVO">
    
        select * from (
                select bno, title, writer, regdate, updatedate  
                from board order by bno desc
                )  as T1
        limit #{skip}, #{amount}
    
    </select>	
	
	
	<!-- 게시판 조회 -->
	<select id="getPage" resultType="BoardVO">
	
		select * from board where bno = #{bno}
	
	</select>
	
	<!-- 게시판 수정 -->
    <update id="modify">
    
        update board set title = #{title}, content = #{content}, updatedate = now() 
        where bno = #{bno}
        
    </update>
    
    <!-- 게시판 삭제 -->
    <delete id="delete">
    
        delete from board where bno = #{bno}
    
    </delete>
    
    <!-- 게시물 총 개숫 -->
    <select id="getTotal" resultType="int">
    
        select count(*) from board
    
    </select>
	
	
</mapper>