<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: 헤드"> </head>
  <body>
    <nav th:replace="layouts :: 네브바"></nav>

    <div class="container">
      <h1>직원 현황</h1>
      <a class="btn btn-outline-success my-3" th:href="@{/employees/new}">직원 추가</a>
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>성</th>
            <th>이름</th>
            <th>이메일</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- 타임리프의 반복문 -->
          <tr th:each="emp : ${empList}">
            <td th:text="${emp.lastName}"></td>
            <td th:text="${emp.firstName}"></td>
            <td th:text="${emp.email}"></td>
            <td>
              <!-- 타임리프 (id=1) => ?id=1 -->
              <a th:href="@{/employees/update(id=${emp.employeeId})}" class="btn btn-outline-info btn-sm">수정</a>
              <a th:href="@{/employees/delete(id=${emp.employeeId})}" class="btn btn-outline-danger btn-sm"
              onclick="if((!confirm('정말로 삭제할까요?'))) return false">삭제</a>
            </td>
          </tr>              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer th:replace="layouts :: 푸터"></footer>
  </body>
</html>
