<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: 헤드"> </head>
  <body>
    <nav th:replace="layouts :: 네브바"></nav>

    <div class="container">
      <!-- 타임리프의 th:action 주소는 csrf 토큰 내장 -->
      <form th:action="@{/employees/save}" method="post" th:object="${employee}">
        <input type="hidden" th:field="*{employeeId}" />
        <div class="row my-2">
          <input class="form-control" th:field="*{lastName}" type="text" placeholder="성" />
          <span style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="${employee.lastName}"></span>
        </div>
        <div class="row my-2">
          <input class="form-control" th:field="*{firstName}" type="text" placeholder="이름" />
          <span style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="${employee.firstName}"></span>
        </div>
        <div class="row my-2">
          <input type="email" class="form-control" th:field="*{email}" placeholder="이메일" />
          <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="${employee.email}"></span>
        </div>
        <button class="btn btn-primary" type="submit">저 장</button>
      </form>
    </div>
    <footer th:replace="layouts :: 푸터"></footer>
  </body>
</html>
