<nav th:fragment="네브" class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <h6 id="pageName" class="font-weight-bolder mb-0 py-3">페이지 제목</h6>
      <script th:if="${message}">
        let m = '[[${message}]]'; // 리다이렉트로 넘어온 메세지 저장
        alert(m); // 화면에 메세지
      </script>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <ul class="ms-auto navbar-nav justify-content-end">
        <li class="nav-item d-flex align-items-center" th:if="${userName != null}">
          <form th:action="@{/logout}" method="get">
            <span th:text="${'😆 하이, ' +  userName }"></span>
            <button type="submit" class="badge bg-gradient-warning ms-3">로그아웃</button>
          </form>
        </li>
        <li class="nav-item d-flex align-items-center" th:if="${userName == null}">
          <a th:href="@{/login}" class="nav-link text-body font-weight-bold px-0">
            <i class="fa fa-user me-sm-1"></i>
            <span class="d-sm-inline d-none">로그인</span>
          </a>
        </li>
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
        <li class="nav-item px-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0">
            <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
